
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

<h1>Faculty Panel</h1>

<div class="container">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3 card">
            <a class="form-group btn btn-light" href="@Url.Action("ManageAssignment", "Faculty")">
                <i class="fa-solid fa-file-lines fa-5x"></i>
                <br />
                <br />
                <b>Manage Assignment</b>
            </a>
        </div>

        <div class="col-sm-3 card">
            <a class="form-group btn btn-light" href="@Url.Action("ViewTimetable", "Faculty")">
                <i class="fa-solid fa-calendar-days fa-5x"></i>
                <br />
                <br />
                <b>TimeTable</b>
            </a>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3 card">
            <a class="form-group btn btn-light" href="@Url.Action("ManageResult", "Faculty")">
                <i class="fa-solid fa-chart-line fa-5x"></i>
                <br />
                <br />
                <b>Manage Result</b>
            </a>
        </div>

        <div class="col-sm-3 card">
            <a class="form-group btn btn-light" href="@Url.Action("Feedback", "Faculty")">
                <i class="fa-solid fa-comments fa-5x"></i>
                <br />
                <br />
                <b>Submit Feedback</b>
            </a>
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>
